{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                {% if about.use_image %}
                <div class="col-4">
                        {% if about.about_image %}
                            <img src="{{about.about_image.url}}" class="about_image">
                            {% else %}
                            <img src="{% static 'image/placeholder.png' %}">
                       {% endif %}
                    </div>
                    {% else %}
                {% endif %}
                <div class="col-{% if about.use_image %}8{% else %}12{% endif %}">
                    <h2 class="mt-3">{{ global_settings.blog_name }}</h2>
                    <p>{{about.about_text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}