{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body style="
    {% if global_settings.bg_image %}background-image: url('{{ global_settings.bg_image.url }}');{% else %}{% endif %} 
    background-size: cover; 
    background-repeat: 
    no-repeat;background-attachment: 
    fixed;" 
    class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" style="padding-top: 0px;  !important; padding-bottom: 0px;  !important;">
          <div class="container">
            <a class="navbar-brand" href="#">Menu Administrativo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'new_post' %}">Nova Postagem</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'list_posts' %}">Todas as Postagens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'new_page' %}">Nova Pagina</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'list_pages' %}">Todas as Paginas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'settings' %}">Configuração</a>
                </li>




              </ul>
              <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form> -->

            </div>
          </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar bg-light">
        <div class="container">
          {% if global_settings %}
            {% if global_settings.logo_image %}
              <img class="navbar-brand top_logo" src="{{global_settings.logo_image.url}}"/>
              {% else %}
              <a class="navbar-brand" href="#">{{global_settings.blog_name}}</a>
              {% endif %}
            {% else %}
            <a class="navbar-brand" href="#">Meu Site</a>
          {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav">
            <li class="nav-item active"> <a class="nav-link" href="{% url 'home' %}">Inicio </a> </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> Sobre </a></li>
            {% for tag_lvl_1 in tags_level_1 %}
            {% if tag_lvl_1.tags_level_2_set.all %}
                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'post_list_by_tag_1' tag_id=tag_lvl_1.id %}" data-bs-toggle="dropdown">{{ tag_lvl_1.tag_name }}</a>
                    <ul class="dropdown-menu">
                        {% for tag_lvl_2 in tag_lvl_1.tags_level_2_set.all %}
                            <li>
                                <a class="dropdown-item" href="{% url 'post_list_by_tag_2' tag_id=tag_lvl_2.id %}">{{ tag_lvl_2.tag_name }}</a>
                                {% if tag_lvl_2.tags_level_3_set.all %}
                                    <ul class="submenu dropdown-menu">
                                        {% for tag_lvl_3 in tag_lvl_2.tags_level_3_set.all %}
                                            <li><a class="dropdown-item" href="{% url 'post_list_by_tag_3' tag_id=tag_lvl_3.id %}">{{ tag_lvl_3.tag_name }}</a></li>
                                        {% endfor %}
                                        {% for page in pages_lv3 %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'view_page' page_id=page.id %}">{{ page.page_name }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% for page in pages_lv2 %}
                            {% if tag_lvl_1 in page.page_tag_level_1.all %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'view_page' page_id=page.id %}">{{ page.page_name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item" id="myDropdown">
                    <a class="nav-link" href="{% url 'post_list_by_tag_1' tag_id=tag_lvl_1.id %}">{{ tag_lvl_1.tag_name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        
        {% for page in pages_lv1 %}
            <li>
                <a class="nav-link" href="{% url 'view_page' page_id=page.id %}">{{ page.page_name }}</a>
            </li>
        {% endfor %}
        
        <!-- {% for page in pages %}
        <li>
          <a class="nav-link">{{ page.page_name }}</a>
        </li>
        {% endfor %} -->
          
          </ul>
        </div>
        <form class="d-flex" method="get" action="{% url 'search_posts' %}">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Pesquisar" name="query" aria-label="Pesquisar">
            <button class="btn btn-outline-primary" type="submit"><i class="nf nf-oct-search"></i></button>
          </div>
      </form>
        <!-- navbar-collapse.// -->
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0 mb-3">
    {% block content %}

    {% endblock %}
    </main>
  </body>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Desenvolvido por Leony Coelho - 2023 - Versão 1.0</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  </html>