{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- {% if home %}
    {% if home.home_slide.all %}
    {% for home_slide_image in home.home_slide.all %}
    <img src="{{ home_slide_image.home_slide_image.url }}" alt="BG" height="100px">
    {% endfor %}
    {% endif %}
    {% endif %} -->
    
    {% if home.home_slide.all %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {%  for home_slide_image in home.home_slide.all  %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.counter }}">
            </button>
            {% endfor %}
        </div>
        <div class="carousel-inner" style="height: 500px;">
            {%  for home_slide_image in home.home_slide.all  %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ home_slide_image.home_slide_image.url }}" class="d-block w-100" alt="Slide Image">
            </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}
    <div class="container">
        <h2 class="mt-3">Ultimas Publicações</h2>
    </div>
    {% if posts%}
    <div class="container">

    <div class="mt-3 row g-3">
        {% for post in posts %}
            <div onclick='location.href="{% url 'view_post' post_id=post.id %}"' class="col-6" >
                <div class="post_list_card card  h-100">
                    <div class="row g-0">
                        <div class="col-5">
                            {% if post.post_cover_image %}
                                <img src="{{ post.post_cover_image.url }}" class="w-100">
                            {% else %}
                                <img src="{% static 'placeholder.png' %}" class="w-100">
                            {% endif %}
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h3 class="card-title">{{ post.post_name }}</h3>
                                {% if post.post_body|length > 500 %}
                                    <p class="card-text">{{ post.post_body|safe|slice:"500" }} ...</p>
                                {% else %}
                                    <p class="card-text">{{ post.post_body }}</p>
                                {% endif %}
                                <p class="card-text">Categorias:
                                    {% for tag_1 in post.post_tag_level_1.all %}
                                        <a  href="{% url 'post_list_by_tag_1' tag_1.id %}">{{ tag_1.tag_name }}</a>
                                    {% endfor %}
                                    {% for tag_2 in post.post_tag_level_2.all %}
                                        <a  href="{% url 'post_list_by_tag_2' tag_2.id %}">{{ tag_2.tag_name }}</a>
                                    {% endfor %}
                                    {% for tag_3 in post.post_tag_level_3.all %}
                                        <a  href="{% url 'post_list_by_tag_3' tag_3.id %}">{{ tag_3.tag_name }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">Primeira</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">Anterior</span>
                    </a>
                </li>
            {% endif %}

            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }} <span class="sr-only"></span></span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">Proxima</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">Ultima</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    </div>
</div>
{% endif %}

    


{% endblock %}