{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card mt-3 custom-card">
                <div class="card-header custom-card-header d-flex justify-content-between align-items-center">
                    Categoria
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#rename_establishment">
                        <span><i class="nf nf-md-rename_box"></i></span>
                    </button>
                </div>
                <div class="card-body">
                    <form method="post" method="post" action="{% url 'create_tag_1' %}" class="form-inline" id="establishment-form">
                        <div class="input-group">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="tag_name1">
                            <button class="btn btn-primary form-button" type="submit"><span><i class="nf nf-oct-diff_added"></i></span></button>
                        </div>
                    </form>

                    <div class="establishment-settings-box">
                        <form method="post" id="delete-selected-establishment-form">
                            {% csrf_token %}
                            <ul class="list-group" id="establishment-list">
                                {% for tag_lvl_1 in tags_level_1 %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="modal" data-bs-target="#modalT2{{ tag_lvl_1.id }}">
                                        <div class="form-check">
                                            <input class="form-check-input tag-lvl-1" type="checkbox" name="selected_items_establishment" value="{{ tag_lvl_1.id }}" data-tag-lvl-1-id="{{ tag_lvl_1.id }}">
                                            <label class="form-check-label">
                                                {{ tag_lvl_1.tag_name }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button type="button" id="delete-selected-establishment-button" class="btn btn-danger mt-2">Remover</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
    </div>
</div>

<!-- Modals for Tags_Level_1 and Tags_Level_2 -->
{% for tag_lvl_1 in tags_level_1 %}
    <!-- Modal for Tags_Level_2 -->
    <div class="modal fade" id="modalT2{{ tag_lvl_1.id }}" tabindex="-1" aria-labelledby="modalT2Label{{ tag_lvl_1.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalT2Label{{ tag_lvl_1.id }}">{{ tag_lvl_1.tag_name }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Conteúdo do Modal de Tags_Level_2 -->

                    <!-- Formulário para criar Tags_Level_3 -->
                    <form method="post" action="{% url 'create_tag_2' %}" class="form-inline" id="tag-level-2-form">
                        <div class="input-group">
                            {% csrf_token %}
                            <input class="form-control" type="text" name="tag_name2">
                            <input type="hidden" name="parent_tag" value="{{ tag_lvl_1.id }}">
                            <button class="btn btn-primary form-button" type="submit"><span><i class="nf nf-oct-diff_added"></i></span></button>
                        </div>
                    </form>

                    <!-- Lista de Tags_Level_2 associadas a Tags_Level_1 -->
                    <div class="establishment-settings-box">
                        <ul class="list-group" id="tag-level-2-list">
                            {% for tag_lvl_2 in tag_lvl_1.tags_level_2_set.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-center" data-bs-toggle="modal" data-bs-target="#modalT3{{ tag_lvl_2.id }}">
                                    <div class="form-check">
                                        <input class="form-check-input tag-lvl-2" type="checkbox" name="selected_items_establishment" value="{{ tag_lvl_2.id }}" data-tag-lvl-2-id="{{ tag_lvl_2.id }}">
                                        <label class="form-check-label">
                                            {{ tag_lvl_2.tag_name }}
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="button" id="delete-selected-tag-lvl-2-button" class="btn btn-danger mt-2">Remover</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% for tag_lvl_2 in tag_lvl_1.tags_level_2_set.all %}
        <!-- Modal for Tags_Level_3 -->
        <div class="modal fade" id="modalT3{{ tag_lvl_2.id }}" tabindex="-1" aria-labelledby="modalT3Label{{ tag_lvl_2.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalT3Label{{ tag_lvl_2.id }}">{{ tag_lvl_2.tag_name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Conteúdo do Modal de Tags_Level_3 -->

                        <!-- Formulário para criar Tags_Level_3 -->
                        <form method="post" action="{% url 'create_tag_3' %}" class="form-inline" id="tag-level-3-form">
                            <div class="input-group">
                                {% csrf_token %}
                                <input class="form-control" type="text" name="tag_name3">
                                <input type="hidden" name="parent_tag" value="{{ tag_lvl_2.id }}">
                                <button class="btn btn-primary form-button" type="submit"><span><i class="nf nf-oct-diff_added"></i></span></button>
                            </div>
                        </form>

                        <!-- Lista de Tags_Level_3 associadas a Tags_Level_2 -->
                        <div class="establishment-settings-box">
                            <ul class="list-group" id="tag-level-3-list">
                                {% for tag_lvl_3 in tag_lvl_2.tags_level_3_set.all %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <div class="form-check">
                                            <input class="form-check-input tag-lvl-3" type="checkbox" name="selected_items_establishment" value="{{ tag_lvl_3.id }}" data-tag-lvl-3-id="{{ tag_lvl_3.id }}">
                                            <label class="form-check-label">
                                                {{ tag_lvl_3.tag_name }}
                                            </label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button type="button" id="delete-selected-tag-lvl-3-button" class="btn btn-danger mt-2">Remover</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}






{% endblock %}
